#config-form {
    background-color: var(--background-color);
    padding: 1px;
    margin: 10px;
}

.config-item {
    background-color: var(--offwhite);
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
}

.config-number-input {
    width: 70px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.config-array{
    margin: 20px
}

.toggle-checkbox{
    margin-left: 10px;
}