:root {
    --first-color: #027340;
    --second-color: #0186bb;
    --third-color: #d6a212;
    --fourth-color: #cc0c2f;
    --background-color: #a1a1a1;
    --offwhite: #e5e5e5;
    --text-color: #212529;
}

body {
    background-color: var(--offwhite);
}

.btn-primary {
    background-color: var(--first-color);
}

.btn-secondary {
    background-color: var(--second-color);
}

.btn-warning {
    background-color: var(--third-color);
}

.btn-danger {
    background-color: var(--fourth-color);
}

.samplepackbox {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mount-path-container {
    background-color: var(--fourth-color);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
