:root {
    --first-color: #027340;
    --second-color: #0186bb;
    --third-color: #d6a212;
    --fourth-color: #cc0c2f;
    --background-color: #a1a1a1;
    --offwhite: #e5e5e5;
    --text-color: #212529;
}

body {
    background-color: var(--offwhite);
}

.btn-primary {
    background-color: var(--second-color);
}

.samplepackbox {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sampleslot {
    background-color: var(--offwhite);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.sampleslot.filled {
    background-color: #63cc73;
}

.sampleslot.drag-hover {
    background-color: #d0ebff;
    border: 2px dashed #339af0;
}

.sampleslot.dragover {
    background-color: #d0ebff;
    border: 2px dashed #339af0;
}

