{% extends "base.html" %}

{%block title %}
<title>OP-Z Sample Manager</title>
{%endblock%}

{% block main %}
<h1>Welcome to OP-Z All-in-One Sample Utility</h1>


<button onclick="window.location.href='/sampleconverter'" class="btn btn-primary">Sample Converter</button>

<button onclick="window.location.href='/samplemanager'" class="btn btn-primary">Sample Manager</button>

<button onclick="window.location.href='/configeditor'" class="btn btn-primary">Config Editor</button>

{% endblock %}

</html>