{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/utilitysettings.css">
{% endblock %}

{% block title %}
<title>OP-Z Sample Manager and Converter Utility Settings</title>
{% endblock %}

{% block main %}
<h1>OP-Z Sample Manager and Converter Utility Settings</h1>

<button onclick="window.location.href='/'" class="btn btn-primary">Home Page</button>
<button onclick="resetConfig()" class="btn btn-danger">Reset Config</button>

<hr>

<!-- FFmpeg Path -->
<div>If on Windows, set this to wherever your ffmpeg.exe file is located.</div>
<button onclick="openPathPicker('/get-user-file-path', 'ffmpeg-path-holder', 'ffmpeg-info', 'FFMPEG_PATH', true)">
  Open File Browser
</button>
<input id="ffmpeg-path-holder" placeholder="ffmpeg file path goes here" style="min-width: 200px;" />
<button onclick="setConfigPath('FFMPEG_PATH', 'ffmpeg-path-holder', 'ffmpeg-info')">Manually Set</button>
<button onclick="removeConfigPath('FFMPEG_PATH', 'ffmpeg-path-holder', 'ffmpeg-info')" class="btn btn-warning">Remove</button>
<p id="ffmpeg-info"></p>

<hr>

<!-- OP-Z Path -->
<div>Set the path to the mounted OP-Z (or wherever you want to mount it).</div>
<button onclick="openPathPicker('/get-user-folder-path', 'opz-path-holder', 'opz-info', 'OPZ_MOUNT_PATH', true)">
  Open Folder Browser
</button>
<input id="opz-path-holder" placeholder="OP-Z mount path goes here" style="min-width: 200px;" />
<button onclick="setConfigPath('OPZ_MOUNT_PATH', 'opz-path-holder', 'opz-info')">Manually Set</button>
<button onclick="removeConfigPath('OPZ_MOUNT_PATH', 'opz-path-holder', 'opz-info')" class="btn btn-warning">Remove</button>
<p id="opz-info"></p>

<script src="/static/js/utilitysettings.js"></script>
{% endblock %}
