{% extends "base.html" %}

{%block stylesheets %}
<link rel="stylesheet" href="/static/css/utilitysettings.css">
{%endblock%}

{%block title %}
<title>OP-Z Sample Manager and Converter Utility Settings</title>
{%endblock%}

{% block main %}
<h1>OP-Z Sample Manager and Converter Utility Settings</h1>

<button onclick="window.location.href='/'" class="btn btn-primary">Home Page</button>
<button onclick="resetConfig()" class="btn btn-danger">Reset Config</button>

<div>If on windows, set this to wherever your ffmpeg.exe file is located.</div>
<button onclick="openFilePicker()">Open File Browser</button>
<input id="ffmpeg-path-holder" placeholder="ffmpeg file path goes here" style="min-width: 200px;" /><button onclick="setFfmpegPath(document.getElementById('ffmpeg-path-holder').value)">Set</button>
<p id="ffmpeg-info"></p>






<script src="/static/js/utilitysettings.js"></script>

{% endblock %}

</html>